<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptruyen1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apptruyen1">
        <activity android:name=".Activity.DoctruyennActivity"></activity>
        <activity android:name=".Activity.ChitiettruyenActivity" />
        <activity android:name=".Activity.dangki" />
        <activity android:name=".Activity.TruyenganActivity" />
        <activity android:name=".Activity.TruyenDetail" />
        <activity android:name=".Activity.DoctruyenActivity" />
        <activity android:name=".Activity.Danhsachtruyendangganday" />
        <activity android:name=".Activity.DanhsachcactheloaiActivity" />
        <activity android:name=".Activity.Danhsachtheloai" />
        <activity android:name=".Activity.DanhsachtruyenActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>